# FIFA WORLD CUP history: Goals, Games, and Graphs

## 2024-25 Individual Assessment

*This is the MN5813 Individual Assignment.*
- Candidate number: 2601587

[Link](https://github.com/desaijaival00/MN5813-group-2) link for the Github (https://github.com/desaijaival00/MN5813-group-2)
### ![Qr code](./Data/qrcode_github.com.png)

## Project summary

In [1]:
# Add your project summary here [app. 200-250 words]

## Generative AI

In [2]:
# Add your statement / declaration here [be as specific as possible]

## Introduction

# Add your introduction here [app. 200-300 word]
The Olympic Games immediately bring to mind powerful images of grandeur, excellence, internationalism, and history. For more than a millennium, from approximately 776 BC to about 400 AD, the ancient Olympics served as a powerful cultural institution in Greece. Within this immense history, truly unique accomplishments occurred, such as the astounding feat achieved by the runner Polites of Caria in 69 AD. Polites accomplished the nearly incredible challenge of winning both the shortest sprint, the stade (about 200 meters), and the long distance race on the same day. This demonstration of versatility was considered a "great marvel" in antiquity by Pausanias, and no athlete in the ancient or modern eras has ever equaled this particular double victory. Modern coaches believe long and short distances require wholly different training, muscle fibers, and techniques.
It is appropriate to compare ancient and modern competitors, as our contemporary athletic system is the only one in world history that is substantially similar to the Greeks’ system, having borrowed heavily from it. However, the terminology itself requires clarification. The popular phrase “Olympic Games” is considered a bad mistranslation. The correct Greek term, Olympiakoi agones, does not translate to "games" or "play," but rather to “struggles” or “contests,” which is the root of the English word “agony”. Greek athletics were focused on individual contests and were not considered recreational "sport" or diversionary festivals.
Furthermore, historical research into the ancient games reveals that the concept of amateurism was not practiced by the ancient Greeks, despite the insistence of figures like Avery Brundage in the modern era. The modern revival itself—specifically track and field—arose from a conscious imitation of ancient Greek practices, promoted by early revivals in Britain and modern Greece beginning as early as 1859. This history aims to provide an accessible and comprehensive look at these ancient competitions and their influence on the world.
# Aim:
The goal is to find historical patterns and insights in the Olympic athletes dataset, with a focus on demographics, how countries perform, and how medals are distributed across different sports.
# Objectives:
- Start by cleaning and preparing the Olympic dataset so it is ready for analysis.
- Look into the demographics of the athletes and see how participation has changed over time.
- Analyze how medals are distributed by country, sport, and gender.
- Visualize key findings with charts.
- Summarize what was learned and talk about any possible limitations

## Setup

### Import necessary libraries

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Set display options for better output
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)
pd.set_option("display.width", None)

### Load data

In [4]:
data_source = "https://docs.google.com/spreadsheets/d/1Pg9ScLoN1USl0T036H0rqCYYOHJwusMVD-_q1ciiAeY/edit?usp=sharing"  # Add URL to raw data here

### Convert into DataFrame

- I use `pd.read_csv()` to convert data from both files found in MN583 Group2 folder into Pandas DataFrames, And we use relative paths to the data for consistency.
- First I want to know how many rows and columns in our both data sets and names of the columns.
- I use `len(data_frame)` to find how many rows in our data sets; `len(data_frame.columns)` to find the number of columns and `list(data_frame.columns)` to list names of all the columns in our data sets.

In [5]:
# Your code here
athlete_events = df = pd.read_csv("Data/athlete_events.csv")
noc_regions = schema_df = pd.read_csv("Data/noc_regions.csv")

print(f"Dataset'athlete_events' loaded: {len(athlete_events)} rows, {len(athlete_events.columns)} columns")
print(f"\nColumn names:\n{list(athlete_events.columns)}")

print(f"Dataset'noc_regions' loaded: {len(noc_regions)} rows, {len(noc_regions.columns)} columns")
print(f"\nColumn names:\n{list(noc_regions.columns)}")

Dataset'athlete_events' loaded: 271116 rows, 15 columns

Column names:
['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal']
Dataset'noc_regions' loaded: 230 rows, 3 columns

Column names:
['NOC', 'region', 'notes']

In [6]:
# SUGGESTION: Merge data from multiple files into a single DataFrame
#df = athlete_events.merge(noc_regions, on='noc', how="left")
df = pd.merge(athlete_events, noc_regions, on="NOC", how="left")

In [7]:
print("First 10 rows:")
# df.head(10)
print(df.shape)

First 10 rows:
(271116, 17)

Display the first few rows and basic information about the DataFrame `df` you have created from `data_source`.

In [8]:
# print(df.head())
#print(df.head(10))
display (df.head(10))

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,NaN

In [9]:
# print(df.info())
#print(df.info())
display (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
 15  region  270746 non-null  object
 16  notes   5039 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 35.2+ MB

None

## Data management

### Data cleaning

#### Data cleaning is essential before analysis. We'll identify and handle:
-Missing values
-Data type issues
-Duplicates
-Outliers (if needed)

In [10]:
# TODO: Handle missing values
missing = df.isnull().sum()
missing_pct = (df.isnull().sum() / len(df) * 100).round(1)

missing_summary = pd.DataFrame({
    "Missing_Count": missing,
    "Missing_Percent": missing_pct
})

display ("Missing values summary:")
display (missing_summary[missing_summary['Missing_Count'] > 0].sort_values("Missing_Count", ascending=False))

'Missing values summary:'

        Missing_Count  Missing_Percent
notes          266077             98.1
Medal          231333             85.3
Weight          62875             23.2
Height          60171             22.2
Age              9474              3.5
region            370              0.1

## Analysis of missing values:

- Medal (85.3%): This is expected - most employees don't receive awards, just like most athletes don't win medals
- Weight_kg (22.8%): Demographic data may be incomplete
- Weight_cm (21.8%): Similar to weight
- Age (3.5%): Personal information may not always be recorded
### Decision: Keep missing values as-is for demographic columns (age, height, weight) since:
1. The percentage is relatively low
2. Imputing (filling) could introduce bias
3. Analysis functions like `.mean()` handle NaN automatically

For **award**, NaN represents "no award" which is meaningful information.

For Olympics: You'll see similar patterns - most athletes have no medals, and some demographic data is missing.

In [11]:
# TODO: Convert data types where necessary
display ("Current data types:")
display (df.dtypes)

'Current data types:'

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
region     object
notes      object
dtype: object

In [12]:
# Combine 'Games' and 'Year' for analysis
df['Games_Year'] = df['Games'].astype(str) + ' (' + df['Year'].astype(str) + ')'

In [13]:
# Convert year to datetime for time-based analysis
# Note: We only have the year, not a full date
df['Year_dt'] = pd.to_datetime(df['Year'], format="%Y")

display ("Added Year_dt column:")
display(df[["Year", "Year_dt"]].head())
display (f"\nData type of year_dt: {df['Year_dt'].dtype}")

'Added Year_dt column:'

   Year    Year_dt
0  1992 1992-01-01
1  2012 2012-01-01
2  1920 1920-01-01
3  1900 1900-01-01
4  1988 1988-01-01

'\nData type of year_dt: datetime64[ns]'

We need to convert Year to datetime for time-based analysis of trends over 120 years of Olympic history.

### Converting data type to datetime enables:

- Time series analysis
- Extraction of decade, century
- Chronological sorting and grouping
- Date-based filtering

In [14]:
# Check for duplicates
duplicates = df.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

Number of duplicate rows: 1385

In [15]:
if duplicates.sum() > 0:
    display (f"\nDuplicate rows:")
    display (df[duplicates])

'\nDuplicate rows:'

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Games_Year,Year_dt
1252,704,Dsir Antoine Acket,M,27.0,NaN,NaN,Belgium,BEL,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN,Belgium,NaN,1932 Summer (1932),1932-01-01
4282,2449,William Truman Aldrich,M,48.0,NaN,NaN,United States,USA,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Painting, Drawings And ...",NaN,USA,NaN,1928 Summer (1928),1928-01-01
4283,2449,William Truman Aldrich,M,48.0,NaN,NaN,United States,USA,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Painting, Drawings And ...",NaN,USA,NaN,1928 Summer (1928),1928-01-01
4862,2777,Hermann Reinhard Alker,M,43.0,NaN,NaN,Germany,GER,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Architecture, Designs F...",NaN,Germany,NaN,1928 Summer (1928),1928-01-01
4864,2777,Hermann Reinhard Alker,M,43.0,NaN,NaN,Germany,GER,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Architecture, Architect...",NaN,Germany,NaN,1928 Summer (1928),1928-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269994,135072,Anna Katrina Zinkeisen (-Heseltine),F,46.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Paintings",NaN,UK,NaN,1948 Summer (1948),1948-01-01
269995,135072,Anna Katrina Zinkeisen (-Heseltine),F,46.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Paintings",NaN,UK,NaN,1948 Summer (1948),1948-01-01
269997,135072,Anna Katrina Zinkeisen (-Heseltine),F,46.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN,UK,NaN,1948 Summer (1948),1948-01-01
269999,135073,Doris Clare Zinkeisen (-Johnstone),F,49.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN,UK,NaN,1948 Summer (1948),1948-01-01
270200,135173,Henri Achille Zo,M,58.0,NaN,NaN,France,FRA,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN,France,NaN,1932 Summer (1932),1932-01-01

In [16]:
# TODO: Remove any duplicate entries
df_no_duplicates = df.drop_duplicates()
display (df_no_duplicates.head())

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Games_Year,Year_dt
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,1992 Summer (1992),1992-01-01
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,2012 Summer (2012),2012-01-01
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,1920 Summer (1920),1920-01-01
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,1900 Summer (1900),1900-01-01
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN,1988 Winter (1988),1988-01-01

In [17]:
# TODO: Anything else?
df_clean = df.drop_duplicates()
print(f"Original rows: {len(df)}")
print(f"After removing duplicates: {len(df_clean)}")
print(f"Rows removed: {len(df) - len(df_clean)}")

# Use the cleaned dataset going forward
df = df_clean

Original rows: 271116
After removing duplicates: 269731
Rows removed: 1385

### What the Above Code Does
- Loads and previews both CSV files.
- Merges them on the 'NOC' code into a single dataframe for analysis.
- Inspects missing values and removes any duplicate rows to improve data integrity.

### Data wrangling

In [18]:
# TODO: Create at least one new column
# Create new features: BMI (Body Mass Index)
df['BMI'] = df['Weight'] / (df['Height']/100)**2

In [19]:
# TODO: Combine at least two columns
# Combine 'Games' and 'Year' for analysis
df['Games_Year'] = df['Games'].astype(str) + ' (' + df['Year'].astype(str) + ')'

In [20]:
# TODO: Extract data from multiple columns to create a new column
# Country & Medal Status
df['Has_Medal'] = df['Medal'].notnull().astype(int)

In [21]:
# TODO: Anything else?
# Categorizing Age Groups (for demographic analysis)
bins = [0, 18, 30, 45, 100]
labels = ['Youth','Adult','Mid-age','Senior']
df['Age_Group'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

In [22]:
# Normalize Sport Names (strip spaces, lowercase)
df['Sport_Norm'] = df['Sport'].str.strip().str.lower()

In [23]:
# Create a unique identifier for each athlete event
df['AthleteEventID'] = df['ID'].astype(str) + '_' + df['Event'].astype(str) + '_' + df['Year'].astype(str)

In [24]:
# Preview wrangled columns
display (df[['BMI', 'Games_Year', 'Has_Medal', 'Age_Group', 'Sport_Norm', 'AthleteEventID']].head(10))

,BMI,Games_Year,Has_Medal,Age_Group,Sport_Norm,AthleteEventID
0,24.691358,1992 Summer (1992),0,Adult,basketball,1_Basketball Men's Basketball_1992
1,20.761246,2012 Summer (2012),0,Adult,judo,2_Judo Men's Extra-Lightweight_2012
2,NaN,1920 Summer (1920),0,Adult,football,3_Football Men's Football_1920
3,NaN,1900 Summer (1900),1,Mid-age,tug-of-war,4_Tug-Of-War Men's Tug-Of-War_1900
4,23.959094,1988 Winter (1988),0,Adult,speed skating,5_Speed Skating Women's 500 metres_1988
5,23.959094,1988 Winter (1988),0,Adult,speed skating,"5_Speed Skating Women's 1,000 metres_1988"
6,23.959094,1992 Winter (1992),0,Adult,speed skating,5_Speed Skating Women's 500 metres_1992
7,23.959094,1992 Winter (1992),0,Adult,speed skating,"5_Speed Skating Women's 1,000 metres_1992"
8,23.959094,1994 Winter (1994),0,Adult,speed skating,5_Speed Skating Women's 500 metres_1994
9,23.959094,1994 Winter (1994),0,Adult,speed skating,"5_Speed Skating Women's 1,000 metres_1994"

### What this section does:
1. Adds calculated and categorical columns for further analysis.
2. Makes data ready for demographic, medal, sport, and longitudinal studies as required in the assignment.
3. Ensures there are new features and at least two instances of column combination/extraction.

## Data analysis

In [25]:
# TODO: Conduct data analysis

## Data visualisation

In [26]:
# TODO: Create at least two meaningful visualisations

In [27]:
# Example visualisation (you can modify or replace this)
# plt.figure(figsize=(10, 6))
# sns.countplot(x="Medal", data=df)
# plt.title("Distribution of Medals")
# plt.show()

In [28]:
# SUGGESTION: Use a small multiple

## Data export

In [29]:
# TODO: Save the cleaned and wrangled DataFrame to a new CSV file

In [29]:
# TODO: Ensure that you can successfully load the exported CSV file

In [24]:
# TODO: Export visualizations as image files

## Conclusion

In [25]:
# Add your conclusion here [app. 300-500 words].

## References

1. Reference 1
2. Reference 2
3. Reference 3
4. ...

*(References must be complete and contain a link to the original source; usually a DOI link.)*

## Appendices

### Appendix A

In [26]:
# Appendix A goes here

### Appendix B

In [27]:
# Appendix B goes here